<html>
    <head>
        <title>Our Car Inventory</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Our list of cars</h1>
                    {% for car in cars %}
                    <ul>
                        <li>Make/model: {{ car.getMake }}</li>
                        <li>Miles: {{ car.getMiles }}</li>
                        <li>Price: {{ car.getPrice }}</li>
                        <li><img src="{{ car.getImagePath }}"></li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    <h2>Search for a car</h2>
                    <form  action='/search_car' method='post'>
                      <div class='form-group'>
                        <label for='price'>Enter Maximum Price</label>
                        <input type='number' name='price' id='price' class='form-control'>
                      </div>
                      <div class='form-group'>
                          <label for='miles'>Enter Maximum Miles</label>
                          <input type='number' name='miles' id='miles' class="form-control">
                      </div>
                      <button name='submit' class='btn btn-success'>Submit</button>
</form>
                      <h2>Add your car!</h2>
                      <form  action="/create_cars" method="post">
                          <div class="form-group">
                              <label for="make">Make and model of your car</label>
                              <input type="text" name="make" id="make" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="miles">How many miles are on your car?</label>
                              <input type="number" name="miles" id="miles" class="form-control">
                          </div>
                          <div id="form-group">
                              <label for="price">How much are you selling your car for?</label>
                              <input type="number" name="price" id="price" class="form-control">
                              <div class="form-group">
                                  <label for="image">Add an image</label>
                                  <input type="text" name="image" id="image" class="form-control">
                              </div>
                          </div>
                          <button name="submit" class="btn btn-warning">Submit</button>
                      </form>

                </div>
            </div>
        </div>
    </body>
</html>
